PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/papo_de_lideranca?schema=public
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
POSTGRES_DB=papo_de_lideranca
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
ADMIN_SEED_NAME=Admin Papo
ADMIN_SEED_EMAIL=admin@papodelideranca.local
ADMIN_SEED_PASSWORD=ChangeMe123!
